.basketItem{
  height: 150px;
  margin-top: 5px;
  display: grid;
  background: white;
  grid-template-columns: 100px 1fr 150px 200px;
  border: 2px solid grey;
  border-radius: 5px;
}
.img{
  display: grid;
  align-self: center;
  height: 140px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.name{
  display: grid;
  align-content: center;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.price{
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  align-items: flex-end;
}
.count{
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 1fr 1fr;
}
.del{
  grid-column: 1/4;
  display: inline-block;
  margin: 3px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border-radius: .25rem;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.del :hover{
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}
.minus{
  margin: 3px;
  display: inline-block;
  margin: 3px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border-radius: .25rem;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.plus{
  margin: 3px;
  display: inline-block;
  margin: 3px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border-radius: .25rem;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.input{
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 4px;
  border: 1px solid #ddd;
  border-radius: 2px;
}