.itemInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.img{
  display: grid;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  grid-column: 1/span 3;
}
.name{
  height: 70px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  grid-column: 2/3;
}
.price{
  display: flex;
  height: 70px;
  font-size: larger;
  font-weight: bold;
  align-items: center;
  grid-column: 2/3;
  justify-self: center;
}
.button{
  display: grid;
  height: 30px;
  width: 150px;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}
.form{
  display: grid;
  grid-column: 1/4;
  height: 200px;
  margin-top: 50px;
  background-color: #343a40ab;
  color:white;
  border: 2px solid rgb(99, 99, 98);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
.textarea{
  min-height: 100px;
  max-height: 100px;
  margin: 10px;
}