.NavBarItem{
  display: flex;
  padding-top: 6px;
  justify-content: center;
  height: 40px;
  border: 2px solid #17a2b8;
  border-radius: 5px;
  background-color: rgba(109, 108, 108, 0.815);
  margin: 3px;
}
a{
  text-decoration: none;
  color:rgb(219, 245, 245);
}
a.activeLink{
  color: chocolate;
}
a:hover {
  text-decoration: none;
  color: burlywood;
}