.footer{
    display: grid;
    grid-template-columns: 150px 150px 200px 150px 1fr 200px;
    align-content: center;
}
.number{
    display: grid;
    grid-column: 6/7;
    align-content: center;
    justify-content: center;
    color:#888;
}
.footer a{
    display: grid;
    justify-self: center;
    color: #888;
}
.shops{
    display: grid;
    background-color: rgb(151, 151, 151);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid white;
    color: white;
}