.Cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.Card{
    display: grid;
    justify-items: center;
    width: 297px;
    height: 500px;
    border: 1px solid #888;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
}
.Card:hover{
    background-color:  #f2f2f2;
    box-shadow: 3px 3px 4px 2px #888;
}

.image{
    height: 300px;
    width: 280px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.name{
    height: 70px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.price{
    display: flex;
    height: 70px;
    font-size: larger;
    font-weight: bold;
    align-items: flex-end;
}
.link{
    display: grid;
    height: 40px;
    width: 150px;
    justify-items: center;
    align-items: center;
    background-color: #19caaf;
    border-radius: 2px;
}
.link:hover{
    display: grid;
    height: 40px;
    width: 150px;
    justify-items: center;
    align-items: center;
    background-color: #24ffdb;
    border-radius: 2px;
}
.link a{
    color: #fff;
}
.link a:hover{
    color: #fff;
}